<!-- <h2>Customers</h2> -->
<div class="row">
    <div class="col-sm-7">
        <table class="table">
            <tr style="background-color: bisque;">
                <th>id</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th></th>
            </tr>
            <!-- uso de routerLink en <tr/> (No en <a/>) con estilo .table tr:hover {cursor: pointer} -->
            <tr *ngFor="let customer of customers">  
                <td>{{customer.CustomerId}}</td> 
                <td>{{customer.CustomerName}} </td>   
                <td><strong>{{customer.CustomerPhone}}</strong></td>  
                <td><button type="button" class="btn btn-danger">X</button>
                </td>
            </tr>
        </table>
    </div>
    <!-- <div class="col-sm-5">
        <app-customer-form (newCustomerEmitted)="addCustomer($event)"></app-customer-form> 
    </div> -->
</div>
